/* src/components/LandingPage.css */
.landing-page {
  position: relative; /* Enables positioning of the buttons */
  min-height: 100vh;
  background: url('C:\Users\SaiArya\Downloads\Tech-ecommerce\SalesManagement\tech-ecommerce\public\LandingPage.png') no-repeat center center/cover; /* Set your image path */
  background-size: cover; /* Ensure the image covers the entire area */
  background-attachment: fixed; /* Optional: creates a parallax effect */
  filter: blur(0);
}

.landing-buttons {
  position: absolute; /* Position buttons absolutely within the container */
  bottom: 23%; /* Distance from the bottom */
  right: 14.5%; /* Distance from the right */
  display: flex;
  flex-direction: row; /* Stack buttons vertically */
  gap: 10px; /* Space between buttons */
}

.landing-btn {
  padding: 12px 30px;
  background-color: #421e78;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: background-color 0.3s;
}

.landing-btn:hover {
  background-color: #541253;
}
